.main-page {
  padding-top: 128px;
}

.jokes-content {
  margin-top: 60px;

  .joke-wrapper {
    &.large {
      display: flex;

      .joke-container {
        width: 100%;
      }
    }
    &.small {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }

    &.large, &.small {
      gap: 20px
    }
  }
}