* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'FiraSans', sans-serif;
  font-weight: 400;
  color: #282626;
}

input {
  outline: none;
}

.wrapper {
  width: 1610px;
  padding: 0 14px;
  margin: 0 auto;

  @media (max-width: 1610px) {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: #282626;
}